
//---------------------------------------
// 0. AUXILIAR OUTLINES & BORDERS
//---------------------------------------

*{
  margin: 0px;
  padding: 0px;
  // outline: 1px solid red,
}


// .row > * {
//   border: 1px solid rgb(231, 24, 24);
// }

//---------------------------------------
// 1. COLOR PATTERN
//---------------------------------------

$primary: #e09b2a;
$secondary: #B07C59;
$light: #F2F6E9;
$dark: #343A3F;
$text-dark: #333;
$text-light: #F2F6E9;


//---------------------------------------
// 2. SITE TYPOGRAPHY
//---------------------------------------

html {
  font-size: 13px;
 
}

body {
  background-color: $light !important;
  color: $text-dark;
  font-family: 'Pangolin', cursive;
  font-weight: 400;
}

//---------------------------------------
// 3. GENERAL STYLES FOR BUTTONS
//---------------------------------------

.btn {
  padding: 0.5rem 2rem;
  font-weight: bold;
}

//---------------------------------------
// 4. STYLES FOR PRIMARY COLOR
//---------------------------------------

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  background-color: lighten($primary, 5%);
  border-color: $primary;
}

.btn-primary:focus,
.btn-primary.focus {

  box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: lighten($primary, 5%);
  border-color: lighten($primary, 20%);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
}

//---------------------------------------
// 5. STYLES FOR SECONDARY COLOR
//---------------------------------------

.bg-secondary {
  background-color: $secondary !important;
}

.text-secondary {
  color: $secondary !important;
}

.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
}

.btn-secondary:hover {
  background-color: lighten($secondary, 5%);
  border-color: $secondary;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba($secondary, 0.5);
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  background-color: lighten($secondary, 5%);
  border-color: lighten($secondary, 20%);
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba($secondary, 0.5);
}

//---------------------------------------
// 6. STYLES FOR DARK COLOR
//---------------------------------------

.bg-dark {
  background-color: $dark !important;
}

.text-dark {
  color: $dark !important;
}

.btn-dark {
  background-color: $dark;
  border-color: $dark;
}

.btn-dark:hover {
  background-color: lighten($dark, 5%);
  border-color: $dark;
}

.btn-dark:focus,
.btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba($dark, 0.5);
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  background-color: lighten($dark, 5%);
  border-color: lighten($dark, 20%);
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba($dark, 0.5);
}

//---------------------------------------
// 7. STYLES FOR NAVAR
//---------------------------------------



//---------------------------------------
// 8. STYLES FOR HEADER
//---------------------------------------


.introBackgroundStyles {
	background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('/static/menu_app/images/background_image.jpg');
	background-size: cover;
	background-position: center;
  position: relative;
  border-radius: 0px;
  color: $text-light;

} 


//---------------------------------------
// 9. STYLES FOR #someOfOurFavoritesSlides
//---------------------------------------

//Styles for buttons next y prev
.swiper-button-next::after,
.swiper-button-prev::after {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  font-weight: 900;
  color: $text-light;
  transition: color ease 0.5s;
}

.swiper-button-next::after {
  content: "\f054";
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #797878;
}
// Styles for pagination bullets
.swiper-pagination-bullet {
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  border-radius: 100%;
  background: $light;
  opacity: 0.2;
  transition: opacity ease 0.5s;
}

.swiper-pagination-bullet:hover {
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: $primary;
}
.swiper-pagination-bullet-active:hover {
  opacity: 1;
}

//---------------------------------------
// 10. STYLES FOR SECONDARY MENU (OUR FAVORITES SECTION)
//---------------------------------------

// Styles for active pills
.nav-pills .nav-link.active{
  background-color: $primary;
  color: $text-light;
}

// Styles for non-active pills
.nav-pills .nav-link:not(.active) {
  background-color: $dark;
  color: $text-light;
}

// Styles when Hovering on non-active Pills
.nav-pills .nav-link:not(.active):hover{
  background-color: lighten($primary, 15%);
}




//---------------------------------------
// 11. STYLES FOR FOOTER
//---------------------------------------

footer {
  i {
    font-size: 1.5rem;
    margin: 0 0.3rem;
  }
}

//---------------------------------------
// 12. STYLES FOR PRODUCTS LIST
//---------------------------------------



//Complete!!

//---------------------------------------
// X. CUSTOMIZED MEDIA QUERIES
//---------------------------------------


// EXTRA-SMALL CONTEXTS
@media (max-width: 575.98px) {

  // Swipper Buttons Overriding (Previous and Next)
  // X-Small context default behaviour for Swipper Buttons is overrided for better design
  .swiper-button-next, .swiper-button-prev { 
    top: 33%;
  }

  .swiper-button-next { 
    left: auto;
    right: 0px;
  }

  .swiper-button-prev { 
    left: 0px;
    right: auto;
  }

}


// SMALL CONTEXTS
@media (min-width: 576px) {

  // Card-Deck Media Queries Overriding
  // Small context default behaviour from Bootsprap for card-decks is overrided
  .card-deck {
    display: block;
  }

  // Swipper Buttons Overriding (Previous and Next)
  // Small context default behaviour for Swipper Buttons is overrided for better apperance
  .swiper-button-next, .swiper-button-prev { 
    top: 33%;
  }

  .swiper-button-next { 
    left: auto;
    right: 0px;
  }

  .swiper-button-prev { 
    left: 0px;
    right: auto;
  }

}

// MEDIUM CONTEXTS
@media (min-width: 768px) {
  
  // Swipper Buttons Overriding (Previous and Next)
  // Default behaviour for Swipper Buttons is returned for medium contexts and over
  .swiper-button-next, .swiper-button-prev { 
    top: 50%
  } 

  .swiper-button-next { 
    left: auto;
    right: 10px;
  }

  .swiper-button-prev { 
    left: 10px;
    right: auto;
  }
}

// LARGE CONTEXTS
@media (min-width: 992px) {

  // HTML Font Adjusting
  // Adjusting HTML font text to 15px for large contexts and over
  html {
    font-size: 15px;
  }

  // Card-Deck Media Queries Overriding
  // Default behaviour from Bootstrap is returnen to large contexts and over
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  
}

.card {
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.05); 
}

#jumbo {
  background-image: url(../images/bg_4.jpg);
}