@import url("https://fonts.googleapis.com/css?family=Pangolin:300,400,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 13px;
}

body {
  background-color: #f2f6e9 !important;
  color: #333;
  font-family: "Pangolin", cursive;
  font-weight: normal;
  font-display: swap;
}

.btn {
  padding: 0.5rem 2rem;
  font-weight: bold;
}

.bg-primary {
  background-color: #e09b2a !important;
}

.text-primary {
  color: #e09b2a !important;
}

.btn-primary {
  background-color: #e09b2a;
  border-color: #e09b2a;
}

.btn-primary:hover {
  background-color: #e3a540;
  border-color: #e09b2a;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(224, 155, 42, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #e3a540;
  border-color: #edc583;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(224, 155, 42, 0.5);
}

.bg-secondary {
  background-color: #b07c59 !important;
}

.text-secondary {
  color: #b07c59 !important;
}

.btn-secondary {
  background-color: #b07c59;
  border-color: #b07c59;
}

.btn-secondary:hover {
  background-color: #b88a6a;
  border-color: #b07c59;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(176, 124, 89, 0.5);
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #b88a6a;
  border-color: #d1b39e;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(176, 124, 89, 0.5);
}

.bg-dark {
  background-color: #343a3f !important;
}

.text-dark {
  color: #343a3f !important;
}

.btn-dark {
  background-color: #343a3f;
  border-color: #343a3f;
}

.btn-dark:hover {
  background-color: #40474d;
  border-color: #343a3f;
}

.btn-dark:focus,
.btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 63, 0.5);
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  background-color: #40474d;
  border-color: #626d77;
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 63, 0.5);
}

.introBackgroundStyles {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background_image.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 0px;
  color: #f2f6e9;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  font-weight: 900;
  color: #f2f6e9;
  transition: color ease 0.5s;
}

.swiper-button-next::after {
  content: "\f054";
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #797878;
}

.swiper-pagination-bullet {
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  border-radius: 100%;
  background: #f2f6e9;
  opacity: 0.2;
  transition: opacity ease 0.5s;
}

.swiper-pagination-bullet:hover {
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #e09b2a;
}

.swiper-pagination-bullet-active:hover {
  opacity: 1;
}

.nav-pills .nav-link.active {
  background-color: #e09b2a;
  color: #f2f6e9;
}

.nav-pills .nav-link:not(.active) {
  background-color: #343a3f;
  color: #f2f6e9;
}

.nav-pills .nav-link:not(.active):hover {
  background-color: #e09b2a;
}

footer i {
  font-size: 1.5rem;
  margin: 0 0.3rem;
}

@media (max-width: 575.98px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 33%;
  }
  .swiper-button-next {
    left: auto;
    right: 0px;
  }
  .swiper-button-prev {
    left: 0px;
    right: auto;
  }
}
@media (min-width: 576px) {
  .card-deck {
    display: block;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 33%;
  }
  .swiper-button-next {
    left: auto;
    right: 0px;
  }
  .swiper-button-prev {
    left: 0px;
    right: auto;
  }
}
@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 50%;
  }
  .swiper-button-next {
    left: auto;
    right: 10px;
  }
  .swiper-button-prev {
    left: 10px;
    right: auto;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}
.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

#jumbo {
  background-image: url(../images/bg_4.jpg);
}

/*# sourceMappingURL=style.css.map */
